@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Inter",sans-serif;
}

body{
  background:#f4f7fc;
  color:#1f2937;
}

table{
  width:100%;
  border-collapse:collapse;
}

th{
  text-align:left;
  padding:14px;
}

td{
  padding:14px;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#2874F0;
  border-radius:10px;
}